<router-outlet></router-outlet>



<!-- 1) Custom pipe
2) Custom directive
3) Custom data type / interface
4) custom api/ mock json
5) Custom validator 
6) Interceptor
-->




<!-- 1) Custom pipe
---------------

    1) Create

        ng g p price

    2) Implement

        return "Rs."+value+"/-"

    3) Apply

        {{ product.cost | price  }}
 -->

 <!-- 2) Custom Directive:
    -----------------

        1) Create

            ng g d imp

        2) Implement

            constructor(pricate _elementRef:ElementRef){
                this._elementRef.nativieElement.style.color = 'red';
            }

        3) Apply

            <h1 appImp>Calculator</h1>
 -->

    <!-- 3) Custom DataType / interface / models


        1) Create
 
            ng g interface vehicle

        2) implment

            export interface Vehicle {
                color: string;
                fule: string;
            }

        3) apply

            public vehicles:any = [];
                public vehicles:Vehicle[] = [];
                public vehicles:Vehicle[] = <Vehicle[]>[]

            public vehicle:any = {};
                public vehicle:Vehicle = <Vehicle>{}; -->

<!-- 
        4) MockData / Custom API / MockJSON file:
        -----------------------------------------

            1) Create json file in assets

                    jobs.json

                    [
                        {},
                        {}
                    ]

            2) use filePath insted of apiURL.

                this._httpClient.get("/assets/jobs.json");
 -->

        <!-- 5) custom validator:
         ------------------

         1) create

            copy from the existing validator code
            implement after the class
            
            function domainValidator(control: AbstractControl): ValidationErrors | null{
              
            }

        2) apply at control

            email: new FormControl('',[validators.required, domainValidator])

        
         -->
  








1) UI
2) model
3) mock json
4) service
5) ts, html








<!-- 

 Routing:
--------
    Angular is a single page application,
    Routing helps us to navigate from one view to another view.

    Implementation:
    ---------------
    1) Create routes in app-routing,module.ts  routes array

        routes = [
            {path:'login', component: LoginComponent}
        ]

    2) Mention router-outlet tag in app.component.html

        <router-outlet></router-outlet>

    Types of Routes:
    ----------------
        1) Route:
        ---------
            {path:'login', component: LoginComponent}

        2) Empty Route:
        ---------------
            {path:'', component: LoginComponent}

        3) Fallback Route:
        ------------------
            {path:'**', component: PageNotFoundComponent}

        4) Children Route:
        ------------------
            
            {path:'dashboard',component:DashboardComponent,children:[
                {path:'home', component:HomeComponent}
            ]}

            -> mention router-outlet in dashboard right section
                <router-outlet></router-outlet>
    
    Navigate from HTML:
    -------------------

        <button routerLink="/dashboard">Login</button>
        <button routerLink="home">Home</button>
 - -->

















<!-- 
Angular Appliation Prerequisites:
--------------------------------

1) Download and install node.js. (we will get npm as well.)

    -> check   node -v
               npm -v

2) Install angular with npm.

    npm install -g @angular/cli

    -> check   ng version

3) Create angular project

    ng new my-app

4) Start the server

    ng server

    open  localhost:4200 in browser to check output. -->
 -->

    
<!-- 
  Angular:
  --------

    Angular is a framework to build single page applications.(SPA)


    Framework:  Combination of languages and libraries.
    ----------
                Ex:  HTML
                     CSS
                     TypeScript
                     Rxjs
                     zone.js

FrontEnd Application Architecture:
---------------------------------- -->






Interceptor:
------------

    Interceptor is the common place for all the reqests and responses.


    Implementation:
    ---------------
    1) create

        ng g interceptor token

    2) implement

        intercept(reqest,next){

            vat token = sessionStorage.getItem('my-app-token')

            if(token){
                reqest = request.clone({
                    setHeaders:{
                        'my-app-token': token
                    }
                })
            }

        }

    3) apply

        provide in app module providers

        providers:[
            {
                provide: HTTP_INTERCEPTORS,
                useClass: TokenInterceptor,
                multi: true
            }

        ]