<router-outlet></router-outlet>














<!-- 

 Routing:
--------
    Angular is a single page application,
    Routing helps us to navigate from one view to another view.

    Implementation:
    ---------------
    1) Create routes in app-routing,module.ts  routes array

        routes = [
            {path:'login', component: LoginComponent}
        ]

    2) Mention router-outlet tag in app.component.html

        <router-outlet></router-outlet>

    Types of Routes:
    ----------------
        1) Route:
        ---------
            {path:'login', component: LoginComponent}

        2) Empty Route:
        ---------------
            {path:'', component: LoginComponent}

        3) Fallback Route:
        ------------------
            {path:'**', component: PageNotFoundComponent}

        4) Children Route:
        ------------------
            
            {path:'dashboard',component:DashboardComponent,children:[
                {path:'home', component:HomeComponent}
            ]}

            -> mention router-outlet in dashboard right section
                <router-outlet></router-outlet>
    
    Navigate from HTML:
    -------------------

        <button routerLink="/dashboard">Login</button>
        <button routerLink="home">Home</button>
 - -->


















<!-- Angular Appliation Setup:
-------------------------

1) Download and install node.js. (we will get npm as well.)

    -> check   node -v
               npm -v

2) Install angular with npm.

    npm install -g @angular/cli

    -> check   ng version

3) Create angular project

    ng new my-app

4) Start the server

    ng server

    open  localhost:4200 in browser to check output. -->

<!-- 
  Angular:
  --------

    Angular is a framework to build single page applications.(SPA)


    Framework:  Combination of languages and libraries.
    ----------
                Ex:  HTML
                     CSS
                     TypeScript
                     Rxjs
                     zone.js

FrontEnd Application Architecture:
---------------------------------- -->






