<input type="text" [(ngModel)]="term">
<button (click)="filter()">search</button>

<select [(ngModel)]="column">
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>color</option>
    <option>image</option>
    <option>id</option>
</select>

<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="sort()" class="sort-button">sort</button>

<table class="table">
    <thead>
        <th>Vehicle</th>
        <th>manufacturer</th>
        <th>model</th>
        <th>type</th>
        <th>fuel</th>
        <th>color</th>
        <th>image</th>
        <th>id</th>
        <th>actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{ vehicle.Vehicle }}</td>
            <td>{{ vehicle.manufacturer }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.type }}</td>
            <td>{{ vehicle.fuel }}</td>
            <td>{{ vehicle.color }}</td>
            <td>
                <img src="{{ vehicle.image }}" alt="" width="100px" height="100px">
            </td>
            <td>{{ vehicle.id }}</td>
            <td>
                <button (click)="delete(vehicle.id)" class="btn btn-danger">delete</button>
                <button (click)="view(vehicle.id)" class="btn btn-secondary">view</button>
                <button (click)="edit(vehicle.id)" class="btn btn-secondary">edit</button>

            </td>
        </tr>
    </tbody>
</table>

<select [(ngModel)]="limit">
    <option>3</option>
    <option>5</option>
    <option>10</option>
    <option>20</option>
</select>


<ul class="pagination">
    <li class="page-item" (click)="page(1)"><a class="page-link">1</a></li>
    <li class="page-item" (click)="page(2)"><a class="page-link">2</a></li>
    <li class="page-item" (click)="page(3)"><a class="page-link">3</a></li>
    <li class="page-item" (click)="page(4)"><a class="page-link">4</a></li>
    <li class="page-item" (click)="page(5)"><a class="page-link">5</a></li>
    <li class="page-item" (click)="page(6)"><a class="page-link">6</a></li>
  </ul>








<!-- 1) Flipkart API:
-------------
https://fakestoreapi.com/products

Output:
---------
output should be like Flipkart list of products



2) Mail API:
----------
https://jsonplaceholder.typicode.com/todos

Tasks:
-------
1) Api integration
2) visited, unvisited mails
3) hover css


3) Boredom Activity API:
------------------------
https://www.boredapi.com/api/activity


For now you have integrated array of objects, it is only single object. Same process like previous but 

No need to loop in html, you can directly interpolate.

After integrating the API, whenever you reload the page, new activity will appear on the screen. -->

 <!-- Angular Communication:
----------------------

    1) Page Communication
    2) Component Communication
    3) Module communication

    1) Page communication
    ----------------------
        When two components are in different pages, 
        we can pass data through route parameters.

       implementation:
        ---------------
        1) Configure params in path

            {path:'vehicle-details/:id',comp:vdcomp}
        
        2) Set param value from table component.

            this.router.navigateByUrl("/dashboard/vehicle-details/"+id);

        3) Get param value in details component
            
            constructor(private _activatedRoute: ActivatedRoute){
                _activatedRoute.params.subsribe(
                    (data:any)=>{
                        alert(data.id);
                    }
                )
            } 

    2) Component commiunication:
       -------------------------

            1) parent to child
            2) child to parent
            3) sibling communictaion

        1) parent to child:
           ---------------

            1) create @Input() varaiable in child

                @Input() public a:nubmer = 0;

            2) pass data at child tag as property binding

                <app-child [a]="10"></app-child>

        2) child to parent:
         -------------------

            1) Create event in child

                @Output() public bEvent:EventEmitter<number> = new EventEmitter();

            2) Emit event in child

                this.bEvent.emit(20);

            3) catch event in parent

                <app-child (bEvent)="catch($event)"></app-child>

        3) Sibling Communication:
           -----------------------

            1) create common service and add it in every component
            2) set value in service subject
            3) get value from service subject
 -->
<!-- 
    3) Module communication:
       ---------------------
        1) Eager loading
        2) Lazy loading
        3) Pre loading

        1) Eager loading:
           --------------
           Making the module download at the initial load of application.

           implementation:
           ---------------
           1) Export component in feature module

                exports:[
                    AboutCompanyComponent
                ]
            2) Import feature module in app module.

                imports:[
                    AboutUsModule
                ]
            
        2) Lazy loading:
         ---------------
         Making the module download when ever user access the path.

            implementation:
            ---------------
            1) create feature module with routing module

                ng g m contact-us --routing=true

            2) Configure the lazy loading path in app module

                {
                    path:'contact-us',
                    loadChildren() : import('MODULE_FILE_NAME').then(m=>MODULE_CLASS_NAME)
                }

        
 -->












